<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MetamodelEntities" connectionString="metadata=res://*/MetamodelData.csdl|res://*/MetamodelData.ssdl|res://*/MetamodelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-KF0NG4TO;initial catalog=Metamodel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>